schema3.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="section">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="people">
    <xs:element name="person">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="lastName" type="xs:string"/>
        <xs:element name="gender" type="xs:string"/>
        <xs:element name="hairColor" type="xs:string"/>
        <xs:element name="height" type="xs:int"/>
        <xs:element name="age" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
    </xs:element>
  </xs:element>
</xs:schema>
