schema1.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CATALOG">
    <xs:element name="CD">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TITLE" type="xs:string"/>
        <xs:element name="ARTIST" type="xs:string"/>
        <xs:element name="COUNTRY" type="xs:string"/>
        <xs:element name="COMPANY" type="xs:string"/>
        <xs:element name="PRICE" type="xs:float"/>
        <xs:element name="YEAR" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
    </xs:element>
  </xs:element>
</xs:schema>
